

<style>
    h1{
        color: chartreuse;
    }
    label:hover {
        font-size
    }

    input:hover {
        background-color: brown;
    }

</style>





<form asp-action="Add" asp-controller="City" method="post">
    <h1>Sehir Ekle</h1>
    <label>Sehir</label>
    <input type="text" name="Name" placeholder="Sehir" /> 
    <input type="submit" value="Ekle"/>
</form>