@using Memory.Entities.Concrete.Dtos


@model List<CityDto>

  @*   <style>
        thead tr{
            background-color: orange;
            color:blue;
        }
        tbody tr:hover{
            background-color:brown;
        }

    </style>    


<table>
    <thead>
        <tr>
            <th>Sehir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                
                </tr>
        }    
    </tbody>
</table> *@

@await Component.InvokeAsync("CityListComponent");