


<style>
    h1 {
        color: chartreuse;
    }

    label:hover {
        font-size
    }

    input:hover {
        background-color: brown;
    }

</style>





<form asp-action="Add" asp-controller="Notebook" method="post">
    <h1>Not Ekle</h1>
    <label>Not Ekle</label>
    <input type="text" name="Name" placeholder="Sehir" />
    <input type="submit" value="Ekle" />
</form>